*{
    margin: 0;
}
body {
    background: black;
    color: white;
    /* in order for footer to stay at bottom */
    /* position: relative; */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* --------------------------------------------------------- */
/* ----------------------Header Tags--------------------------*/
/* --------------------------------------------------------- */

h1 {
    font-weight: 300;
    font-size: 175%;
    font-style: italic;
    margin: 10px;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-style: bold;
    font-size: 130%;
}

h4 {
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    margin: 15px;
    text-align: center;
}
/* --------------------------------------------------------- */
/* ----------------------Navbar CSS--------------------------*/
/* --------------------------------------------------------- */
          /* Speedometer/logo on all pages in the NAVBAR*/
.logo_container {
    margin: 10px;
    max-height: 40px;
    max-width: 40px;
    overflow: hidden;
    border-radius: 55%;
    box-shadow: 2px 2px 8px white;
    border:rgba(255, 0, 0, .5) solid 1px; 
}

.speedometer {
    width: 75px;
    height: 50px;
    margin: 0px;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 185%;
    font-family: 'Glegoo', serif;
    text-shadow: 1px 1px red;
}
          /* End Speedometer Settings continue navbar settings */

.flex_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: black;
    height: 100vh;
    width: 100vw;
}

.nav_right a {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
    text-align: end;
    font-size: 30px;
  

}

.hamburger_nav i{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 40px;
}
/* --------------------------------------------------------- */
/*------------------ ELEMENTS ON MANY PAGES -----------------*/
/* --------------------------------------------------------- */


img {
    width: 310px;
    height: 200px;
    margin: 15px;
    /* border-radius: 10px; */
}

.container {
    width: 300px;
    min-height: 150px;
    padding: 10px;
    margin: 10px auto;
    background:rgba(192,192,192,0.3);
    /* border-radius: 10px; */
}

p {
    padding: 10px;
    text-align: center;
}
/* --------------------------------------------------------- */
/*------------------------- HOME PAGE -----------------------*/
/* --------------------------------------------------------- */

.home {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_img {
    width: 150px;
    height: 200px;
    border-radius: 100px;
}

/* --------------------------------------------------------- */
/*------------------------- DEALER PAGE -----------------------*/
/* --------------------------------------------------------- */

.dealer_p {
    padding: 10px 40px;
}

.services {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------------------------------------------------- */
/*------------------------- FINANCE PAGE -----------------------*/
/* --------------------------------------------------------- */

.approved {
    height: 180px;
    width: 280px;
}

/* --------------------------------------------------------- */
/*------------------------- CONTACT PAGE -----------------------*/
/* --------------------------------------------------------- */

.contact_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_title {
   margin-top: -30px;
}

/* --------------------------------------------------------- */
/*------------------------- BOTH FORMS -----------------------*/
/* --------------------------------------------------------- */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white 1px solid;
    width: 75%;
    margin: 0 auto;
    background: rgba(192,192,192,0.3);
    padding:12px;
}

input, textarea {
    width: 90%;
    margin: 10px 0px;
}

input:focus, textarea:focus { 
    outline: none;
    border-color: rgba(255, 0, 0);
    box-shadow: 0 0 10px rgba(255, 0, 0);
}

textarea {
    min-height: 100px;
}

button {
    width: 50%;
    height: 20px;
    background: black;
    color: white;
    outline: 0;
    border-color: white;
}

button:active {
    box-shadow: 0 0 10px white;
}

/* --------------------------------------------------------- */
/*-------------------------- FOOTER -------------------------*/
/* --------------------------------------------------------- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    /* margin: 20px 0px 60px 0px; */
    width: 100%;
    height: 35px;
    /* background: rgba(192,192,192,0.3); */
}

.index_contact {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 60px; */
    background: white;
    display: flex;
    justify-content: space-around;
}

.index_contact i {
    color: red;
    margin-top: 5px;
    font-size: 50px;
}

.copyright {
    display: none;
}

/* --------------------------------------------------------- */
/*------------------------- MEDIA QUERY----------------------*/
/* --------------------------------------------------------- */

@media only screen and (min-width: 768px){
    /*------------------------- ALL PAGES----------------------*/
    .container {
        width: 600px;
        max-height: 400px;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: 200%;
    }

    p {
        font-size: 175%;
    }

    img {
        width: 80%;
        height: 70%;
    }
    /*------------------------- NAV----------------------*/
    .speedometer{
        width: 120px;
        height: 100px;
    }

    .logo_container {
        max-width: 70px;
        max-height: 70px;
    }

    .logo {
        font-size: 300%
    }

    .hamburger_nav i {
        font-size: 70px;
    }
    /*------------------------- HOME----------------------*/
    .home_img {
        height: 350px;
        width: 300px;
    }

    home h1 {
        margin-bottom: 8%;
    }
    /*------------------------- FINANCE----------------------*/
    .approved {
        width: 60%;
        height: 50%;
    }

    h4 {
        font-size: 150%;
        margin: 1%;
    }
    /*------------------------- FORM----------------------*/

    form {
        height: 400px;
    }

    input {
        height: 30px;
    }

    textarea {
        height: 45%;
    }

    button {
        height: 40px;
        font-size: 20px;
    }

    .contact_title {
        margin-top: -60px;
     }
}
