*{
    margin: 0;
}
body {
    background: black;
    color: white;
    /* in order for footer to stay at bottom */
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1 {
    font-weight: 300;
    font-size: 175%;
    font-style: italic;
    margin: 10px;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-style: bold;
    font-size: 130%;
}

h3 {
    font-weight: 300;
    font-size: 130%;
    font-style: italic;
    margin: 10px;
    text-align: center;
}

/* ---Navbar CSS-----*/

/* Speedometer/logo on all pages in the NAV*/
.logo_container {
    margin: 10px;
    max-height: 40px;
    max-width: 40px;
    overflow: hidden;
    border-radius: 55%;
    box-shadow: 2px 2px 8px white;
    border:rgba(255, 0, 0, .5) solid 1px; 
}

.speedometer {
    width: 75px;
    height: 50px;
    margin: 0px;
}

.navbar_logo {
    display: flex;
    align-items: center;
}
/* End Speedometer Settings continue navbar settings */

.navbar {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.nav_right {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0px 0px;
}

/* .nav_items { */
    /* display: none;
    background:black; */
    /* width: 100%;
    height: 90%; */
    /* position: fixed;
    z-index: 100;
    margin-top:55px; */
/* } */

/* .navbar_link {
    padding-left: 8px;
} */

/* .navbar_toggle {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 15px;
} */

/* .navbar_toggleShow {
    display: flex;
} */

a {
    text-decoration: none;
    color: white;
    text-align: end;
    
}


/*----------- End Navbar CSS ----------*/


img {
    width: 250px;
    height: 200px;
    margin: 15px;
    border-radius: 10px;
}

.logo {
    font-size: 185%;
    font-family: 'Glegoo', serif;
    text-shadow: 1px 1px red;
}

p {
    padding: 10px;
    text-align: center;
}

.home {
    text-align: center;
    margin: 0 auto;
}

.home_img {
    width: 130px;
    height: 150px;
    border-radius: 100px;
}

.container {
    width: 275px;
    min-height: 100px;
    padding: 10px;
    margin: 0 auto;
    background:rgba(192,192,192,0.3);
    border-radius: 10px;
}

.dealer_p {
    padding: 10px 40px;
}

.services {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_contact {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: white;
    display: flex;
    justify-content: space-around;
}

.index_contact i {
    color: red;
    margin-top: 5px;
    font-size: 60px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white 1px solid;
    width: 75%;
    margin: 0 auto;
    background: rgba(192,192,192,0.3);
    padding:12px;
}

input, textarea {
    width: 80%;
    margin: 10px 0px;
}

input:focus, textarea:focus { 
    outline: none;
    border-color: rgba(255, 0, 0);
    box-shadow: 0 0 10px rgba(255, 0, 0);
}

textarea {
    min-height: 100px;
}

button {
    width: 50%;
    height: 20px;
    background: black;
    color: white;
    outline: 0;
    border-color: white;
}

button:active {
    box-shadow: 0 0 10px white;
}

.contact_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_title {
   margin-top: -30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 75px 0px;
    width: 100%;
    height: 35px;
    background: rgba(192,192,192,0.3);
}

@media only screen and (min-width: 768px){
    .navbar {
        flex-direction: row;
    }
    .nav_items {
        display: inline-block;
        display: flex;
        flex-direction: row;
    }
    .nav_right {
        flex-direction: row;
        margin-left: auto;
    }

    .navbar_link {
    padding-right: 8px;
    }
    .navbar_toggle {
        display: none;
    }
}
